
.site_title img{
    display: inline;
    padding-bottom: 4px;
    max-width: 40px;
    margin-right: 5px;
}

.navbar-nav .breadcrumb{
    background-color: transparent;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0;
}

.dropdown-menu > li > a{
    padding: 5px 20px;
}

.top_nav .navbar-right{
    width: 30%;
}

.top_nav .dropdown-menu ul{
    padding: 5px;
    overflow: hidden;
}

.top_nav .dropdown-menu li{
    padding: 0;
}

.top_nav .dropdown-menu li a{
   line-height: 24px;
   padding-left: 20px;
}
.top_nav .dropdown-menu li.dropdown-header{
    border-bottom: 1px solid #f5f5f5;
    padding: 5px;
}

.top_nav .dropdown-search{
    padding: 10px 5px 0 10px;
}

.tab-menu-header{
    padding: 0 15px;
}

.dropdown-menu a.sonata-toggle-filter i.fa{
    margin-right: 1em;
}

.checkbox label, .radio label{
    padding-left: 0;
    font-weight: 700;
}

.checkbox label .icheckbox_square-blue,
.radio label .iradio_square-blue
{
    margin-right: 5px;
}

/* under modals */
.nav-md .container.body .col-md-3.left_col{
    z-index:999;
}

.sonata-bc.nav-sm .project-link{
    display: none;
}